In [4]:
import warnings
warnings.simplefilter('ignore', FutureWarning)

from pandas import *

headings = ['UK Employment Status', 'Pre Lockdown (m) March 2020', 'Post Lockdown (m) Early April 2020']
table = [
  ['Total Population', 67.9, 67.9],  
  ['Total Possible Workforce', 41.4, 41.4],
  ['Employed', 31.6, 30.7],  
  ['Unemployed', 1.3, 2.2],
  ['Furloughed (still employed)', 0, 9.1],
  ['Home Based worker (employed or not)', 2.8, 11.3], 
  ['Students (at school/uni)', 14.7, 1.2], 
  ['People at home', 33.8, 47.5],  
  ['Work Based worker', 30.1, 19.2],
  ]
employment = DataFrame(columns=headings, data=table)
employment

,UK Employment Status,Pre Lockdown (m) March 2020,Post Lockdown (m) Early April 2020
0,Total Population,67.9,67.9
1,Total Possible Workforce,41.4,41.4
2,Employed,31.6,30.7
3,Unemployed,1.3,2.2
4,Furloughed (still employed),0.0,9.1
5,Home Based worker (employed or not),2.8,11.3
6,Students (at school/uni),14.7,1.2
7,People at home,33.8,47.5
8,Work Based worker,30.1,19.2

In [5]:
employment.to_csv('employment_clean.csv')